<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Transcription</title>
</head>
<body>
    <h1>Real-time Transcription</h1>
    <div id="transcription"></div>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script>
        var socket = io();
        socket.on('transcription', function(data) {
            document.getElementById('transcription').innerText += data;
        });
    </script>
</body>
</html>